.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: calc(100vw - 20px);
  box-sizing: border-box;
  padding: 10px;
  font-family: 'Source Sans Pro', sans-serif;
  color: rgba(62, 70, 94, 0.7);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);

  &.full_height {
    min-height: calc(100vh - 44px - 20px);
  }

  .header {
    margin-top: 10px;
    margin-left: 10px;

    .title {
      font-size: 18px;
      letter-spacing: 1px;
    }
  }

  .body {
    display: block;
    width: 100%;
    box-sizing: border-box;
  }
}
